


# ============ IGNORIERE TEMPORÄRES =============

# Jupyter Notebook
.ipynb_checkpoints/

# Python-Cache-Dateien
__pycache__/
*.pyc

# Systemdateien
.DS_Store

# ============ IGNORIERE DATEN =============

# NIfTI und Imaging
*.nii
*.nii.gz

# CSVs & Rohdaten
*.csv

# Sonstiges
*.log
*.env

# Swane Code zur Hilfestellung 
config_manager_swane.py

#Notebooks 
notebooks/*
!notebooks/Toolbox_main_neurodesk.ipynb
!notebooks/Tests.ipynb
!notebooks/swane
# =====================================================
# Virtual environments
# =====================================================
venv/
env/
ENV/
.venv/
.ipynb_checkpoints/
